.media-block {
    &__left {
        text-align: center;
        max-width: 32rem;
        margin: auto;
        padding: 8rem 1.5rem;

        .media-block {
            &__title {
                font-size: 1em;
                opacity: .5;
                margin-bottom: 1rem;
            }

            &__text {
                h2 {
                    @extend .title;
                    font-size: 3rem;
                    margin-bottom: 4rem;
                }
            }
        }
    }

    &__image {
        height: auto;

        & > img {
            display: none !important;
        }
    }

    &__right {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        picture {
            img {
                display: block;
                position: relative !important;
                height: auto !important;
                object-fit: contain;
                top: auto !important;
                left: auto !important;
                width: 100%;
            }
        }
    }

    & + .media-block {
        @media screen and (min-width: 1024px) {
            margin-top: -4rem;
        }
    }
}

.text_block {
    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
}

.text-content {
    padding: 2rem 1rem !important;

    &__title {
        margin-bottom: 0;
    }

    &__text p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.cta-block {
    &__content {
        padding: 0 1rem;
    }
}

.category-intro {
    &__description {
        @extend .title;
        max-width: 40rem;
    }
}
