.card, .product-box {
    font-family: inherit;
}

.media-block {
    gap: 2rem;
    padding: 1rem;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
        gap: 0;
    }

    &:first-child,
    &:last-child, {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__left {
        text-align: center;
        max-width: 30rem;
        margin: auto;
        padding: 0px !important;

        @media screen and (min-width: 1024px) {
            padding: 3rem 1.5rem 6rem !important;
        }

        @media screen and (min-width: 1560px) {
            padding: 6rem 1.5rem 8rem !important;
        }

        .media-block {
            &__title {
                font-size: .85em;
                opacity: .5;
                margin-bottom: .5rem;
                text-transform: uppercase;

                @media screen and (min-width: 1560px) {
                    font-size: 1em;
                }
            }

            &__text {
                h2 {
                    @extend .title;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                font-size: 1rem;

                @media screen and (min-width: 1560px) {
                    h2 {
                        font-size: 3rem;
                        margin-bottom: 4rem;
                    }

                    font-size: 1.2rem;
                }
            }
        }
    }

    &__image {
        height: auto;

        & > img {
            display: none !important;
        }
    }

    &__right {
        padding: 0px !important;

        @media screen and (min-width: 1024px) {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

        picture {
            img {
                display: block;
                position: relative !important;
                height: auto !important;
                object-fit: contain;
                top: auto !important;
                left: auto !important;
                width: 100%;
            }
        }
    }

    & + .media-block {
        @media screen and (min-width: 1024px) {
            margin-top: -4rem;
        }
    }
}

.text_block {
    @extend .title;
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.25rem;

    @media screen and (min-width: 1024px) {
        margin: 3rem auto;
        font-size: 1.7rem;
    }
}

.title_block {
    @extend .title;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.1em;

    @media screen and (min-width: 1560px) {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
}

.text-content {
    padding: 2rem 1rem !important;

    &__title {
        margin-bottom: 0;
    }

    &__text p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.cta-block {
    &__content {
        padding: 0 1rem;
    }
}

.category-intro {
    &__description {
        @extend .title;
        max-width: 40rem;
    }
}
