label.form__label {
    text-transform: uppercase !important;
    font-size: .8rem;
    font-weight: 500;
}

.form__input {
    padding: 0.4rem 0.6rem !important;
    background-color: transparent !important;
}

input[type=checkbox] {
    margin-right: 0.5rem;

    & + .form__label {
        font-size: .8rem;
    }
}
