.home-page {
    .gtm-product-list {
        margin-top: 4rem;
    }
}

.gtm-product-list {
    padding: 2rem 1rem 6rem;
}

.product-page {
    .gtm-product-list {
        .related-product {
            .product-list {
                @media screen and (min-width: 1024px) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }
            }
        }
    }
}

.product-list {
    max-width: 1540px;
    padding: 0;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media screen and (min-width: 532px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 3rem;
        column-gap: 1rem;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &__item {
        padding: 0 !important;
        margin: 0 !important;

        .product-box {
            display: flex;
            flex-direction: column;

            &__header {
                flex: 1 1 0%;
                padding: 0;
            }

            &__image {
                img {
                    padding: 0;
                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    aspect-ratio: 2/3;
                }
            }

            &__title {
                font-size: .9rem;
                letter-spacing: -.01em;
                max-height: none;
                min-height: 0;
                text-align: left;
                justify-content: start;

                @media screen and (min-width: 1024px) {
                    margin-top: 0.85rem;
                }
            }

            &__body {
                margin-top: 0.5rem;
                display: flex;
                align-items: start;
                flex-direction: column;
            }

            &__price span {
                padding: 0 !important;
                font-weight: 700;
            }

            &__price span {
                font-size: .9rem;
            }

            &__action .button--primary {
                font-size: .75rem;
                opacity: .8;
            }

            &__action {
                margin: 0;
                display: flex;
                flex: 0;

                .button--primary {
                    color: var(--color-black);
                    border: none;
                    height: auto;
                    padding: 0.5rem 0;
                    min-width: auto;
                    text-align: left;
                    font-weight: 700;
                    background: transparent;
                    text-transform: uppercase;
                    transition: opacity .3s ease;

                    &:hover {
                        opacity: .5;
                    }

                    &:focus {
                        outline: none;
                    }

                    &::before {
                        content: '>';
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.tab-buttons__item {
    @extend .title;
}

.checkout-page {
    .address_form {
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .button--group-shipping {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }

    .confirm_order__info,
    .checkout__header {
        padding: 1rem;
    }

    .confirm_order__info {
        .address__title {
            display: block;
            margin-bottom: 1rem;
        }
    }

    .payment-method {
        &__title {
            @extend .title;
        }

        &__item {
            padding: 1rem;
            border: 1px solid;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

.order_summary {
    &__line-item {
        flex-direction: row;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        &__image {
            flex: none;
            margin-right: 1rem;

            img {
                object-fit: contain;
            }
        }

        &__content {
            align-items: start;
            gap: .5rem;

            .order_summary__line-item__quantity,
            .order_summary__line-item__amount {
                font-size: .8rem;
            }
        }
    }
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
.newrosadeimasi {
    .text_block {
        background-color: #AE5767;
        color: rgba(255,255,255,.7);
        padding: 1rem;
        font-size: 1.4rem;
        position: relative;
        max-width: 63rem;

        span:first-child {
            color: white;
            margin-right: .2rem;
            display: block;
        }

        &::before {
            content: '';

            position: absolute;
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            border: 1px dashed #AE5767;
        }
    }
}
