/* -----------------------------------------------------------------------------
 * NAVBAR
 ----------------------------------------------------------------------------- */
header {
    max-width: none;
    background-color: var(--color-brand-dark);
    color: var(--color-white);
    height: auto;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 9999999;
    font-weight: 600;
    letter-spacing: .08rem;
    font-size: .75rem;

    svg {
        color: var(--color-white);

        path {
            fill: currentColor;
        }
    }

    .nav {
        display: flex;
        align-items: normal;
        gap: 1rem;
        min-height: 50px;
        max-width: 1540px;
        margin: auto;

        @media screen and (min-width: 1560px) {
            gap: 2rem;
        }

        .nav__logo {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 100%;
            max-width: 250px;

            @media screen and (min-width: 1024px) {
                order: -1;
            }

            img {
                max-height: 50px;
                width: auto;
                visibility: hidden;
            }

            background-image: url("data:image/svg+xml,%3Csvg width='656' height='71' viewBox='0 0 656 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M358.35 38.2801C358.26 38.5401 358.35 38.6301 358.52 38.6301H380.13C380.31 38.6301 380.4 38.5401 380.31 38.2801L368.89 10.0801L358.35 38.2801ZM381.8 42.5001C381.71 42.3301 381.62 42.2401 381.36 42.2401L381.37 42.2601H357.38C357.11 42.2601 357.03 42.3501 356.94 42.5201C356.185 44.6952 355.298 47.198 354.383 49.7816C351.786 57.1164 348.958 65.1025 348.24 68.0901C347.45 68.0001 347.01 68.0001 345.69 68.0001C344.63 68.0001 342.87 68.0801 342.26 68.2601C344.45 63.6001 347.53 55.9601 350.34 48.4001L367.65 3.85009C368.53 1.66009 368.97 0.600086 369.41 0.600086C369.76 0.600086 370.11 1.30009 371.17 3.85009C371.404 4.42098 372.306 6.55282 373.654 9.73833C376.863 17.322 382.6 30.8774 387.86 43.5601L388.374 44.7914C392.236 54.0499 396.823 65.0454 398.67 68.0701C398.23 68.0701 397.748 68.0476 397.265 68.0251C396.783 68.0026 396.3 67.9801 395.86 67.9801C394.28 67.9801 392.61 68.0601 391.91 68.2401C390.921 65.2122 387.561 56.8539 384.572 49.4165C383.573 46.9303 382.615 44.547 381.8 42.5001ZM336.37 66.2201C332.95 67.8901 325.48 69.4701 318.01 69.4701C305.44 69.4701 296.92 65.9501 290.42 59.9801C282.17 52.3401 279.88 41.4401 279.88 34.1501C279.88 27.5601 281.28 18.2501 288.75 10.4301C293.67 5.34009 302.1 0.590088 315.37 0.590088C326.591 0.590088 333.526 3.0755 337.278 4.42041C337.579 4.52826 337.86 4.62878 338.12 4.72009C337.68 5.95009 337.16 8.59009 337.07 10.8701C333.9 7.44009 325.91 4.19009 315.1 4.19009C302.62 4.19009 296.82 8.67009 293.31 12.1001C287.34 18.0701 285.58 25.8901 285.58 33.3601C285.58 47.5901 294.19 65.2501 318.44 65.2501C325.91 65.2501 333.38 63.8401 337.42 60.6801C336.9 62.2701 336.46 64.7301 336.37 66.2201ZM242.72 68.1501C242.98 65.0801 243.33 54.8001 243.33 42.7601L243.32 42.7501V27.2901C243.32 13.1401 243.06 4.27009 242.53 1.98009C243.32 2.07009 245.34 2.07009 246.57 2.07009H265.46C266.78 2.07009 270.21 1.98009 271.7 1.63009C271.44 2.68009 271.09 5.15009 271.09 6.99009C270.21 6.55009 268.72 6.20008 264.85 5.85009C262.3 5.68009 257.47 5.50009 248.77 5.50009L248.42 5.76009V30.8001C248.42 31.0601 248.5 31.2401 248.68 31.2401C249.47 31.2401 260.71 31.2401 263 31.1501C267.13 30.9801 269.51 30.8001 270.12 30.5401C269.77 32.1301 269.51 34.6701 269.51 36.0801C268.54 35.5501 267.31 35.2801 264.06 35.0201C261.08 34.8501 249.92 34.6701 248.69 34.6701L248.43 35.0201V42.4001C248.43 60.9401 248.61 63.4901 248.96 63.8401C249.31 64.1101 250.19 64.2801 250.98 64.3701C252.83 64.5501 255.64 64.8101 259.42 64.8101C268.38 64.8101 271.63 64.2001 273.74 63.1401C273.3 64.5501 272.59 66.9201 272.33 68.3301C272.07 68.4101 271.45 68.5001 268.2 68.5001C259.508 68.5001 253.717 68.243 250.201 68.0869C248.669 68.0189 247.57 67.9701 246.85 67.9701C245.09 67.9701 243.6 67.9701 242.72 68.1501ZM180.889 6.89896C180.879 6.90266 180.87 6.90637 180.86 6.91009L180.88 6.92009C180.883 6.91313 180.886 6.90609 180.889 6.89896ZM192.55 5.68009C187.036 5.85924 182.919 6.11764 180.889 6.89896C181.328 5.81988 181.931 2.78084 182.02 1.38009C183.95 1.82009 186.85 2.08009 194.23 2.08009H222.26C226.92 2.08009 233.25 1.91009 234.74 1.38009C234.39 2.61009 234.13 4.98009 234.04 7.27009C232.72 6.47009 230.52 6.12009 224.46 5.86009C221.21 5.60009 216.64 5.51009 210.05 5.51009V42.7601C210.05 54.3501 210.4 65.3401 210.66 68.0601C209.95 67.9701 208.81 67.9701 208.02 67.9701C206.79 67.9701 205.47 67.9701 204.24 68.2301C204.68 65.5101 204.94 54.2601 204.94 42.7501V5.50009C204.081 5.50009 203.302 5.49691 202.56 5.49387C199.581 5.4817 197.193 5.47195 192.55 5.68009ZM118.74 34.2401C118.74 54.0101 131.22 65.7801 147.12 65.7801C158.98 65.7801 173.83 57.2601 173.83 35.0301C173.83 14.9101 160.13 4.19009 145.63 4.19009C128.49 4.19009 118.65 17.9001 118.74 34.2401ZM179.45 33.3601C179.45 53.7401 166.45 69.3801 145.8 69.4701L145.79 69.4801C123.56 69.5701 113.02 51.6401 113.02 35.7401C113.02 17.1101 125.41 0.590088 146.76 0.590088C166.18 0.590088 179.45 14.7301 179.45 33.3601ZM48.8835 20.4869C49.0407 39.3705 49.2313 62.2672 49.6803 68.0701C48.8003 67.9801 48.0103 67.9801 47.0403 67.9801C46.2503 67.9801 44.4903 68.0601 44.0503 68.2401C44.6603 61.3901 44.6603 21.8501 44.6603 5.95009C44.6603 1.03009 44.9103 0.590088 45.2703 0.590088C45.6303 0.590088 46.4203 1.38009 48.0003 3.23009C51.2207 6.79108 59.3887 16.5244 68.0692 26.8686C79.5239 40.5185 91.8711 55.2321 94.9203 58.2301C94.8856 54.9283 94.8513 51.1074 94.8147 47.033C94.6614 29.9692 94.4682 8.45808 94.0403 2.00009C94.6603 2.09009 95.6203 2.09009 96.5003 2.09009C97.6403 2.09009 99.1303 2.00009 99.6603 1.83009C99.4003 7.10009 98.9603 27.4001 98.9603 42.9501C98.9603 46.9401 98.988 50.3374 99.0126 53.3667C99.0324 55.8037 99.0503 58.0025 99.0503 60.0801C99.0503 68.6001 98.9703 69.3001 98.4403 69.3001C98.0373 69.3001 96.9714 68.117 93.69 64.475C93.3892 64.141 93.0697 63.7864 92.7303 63.4101C89.401 59.735 78.8004 46.9071 68.5807 34.5401C60.4749 24.7311 52.6087 15.2122 48.8003 10.7801C48.8278 13.8023 48.8551 17.0793 48.8835 20.4869ZM0.750313 68.1501C1.01031 65.0801 1.36031 54.8001 1.36031 42.7601V42.7501V27.2901C1.36031 13.1401 1.10031 4.27009 0.570312 1.98009C1.36031 2.07009 3.38031 2.07009 4.61031 2.07009H23.5003C24.8203 2.07009 28.2503 1.98009 29.7403 1.63009C29.4803 2.68009 29.1303 5.15009 29.1303 6.99009C28.2503 6.55009 26.7603 6.20008 22.8903 5.85009C20.3403 5.68009 15.5103 5.50009 6.81031 5.50009L6.46031 5.76009V30.8001C6.46031 31.0601 6.54031 31.2401 6.72031 31.2401H6.72052C7.51222 31.2401 18.7605 31.2401 21.0403 31.1501C25.1703 30.9801 27.5503 30.8001 28.1603 30.5401C27.8103 32.1301 27.5503 34.6701 27.5503 36.0801C26.5803 35.5501 25.3503 35.2801 22.1003 35.0201C19.1103 34.8501 7.95031 34.6701 6.72031 34.6701L6.46031 35.0201V42.4001C6.46031 60.9401 6.64032 63.4901 6.99031 63.8401C7.34031 64.1101 8.22031 64.2801 9.01031 64.3701C10.8603 64.5501 13.6703 64.8101 17.4503 64.8101C26.4103 64.8101 29.6603 64.2001 31.7703 63.1401C31.3303 64.5501 30.6203 66.9201 30.3603 68.3301C30.1003 68.4101 29.4803 68.5001 26.2303 68.5001C17.5382 68.5001 11.7469 68.243 8.23141 68.0869C6.69943 68.0189 5.59964 67.9701 4.88031 67.9701H4.88008C3.12019 67.9701 1.63028 67.9701 0.750313 68.1501ZM646.9 54.1101C646.9 61.7801 648.13 63.1901 655.13 64.9101L655.15 64.9001L655.33 64.9501V68.2001H623.41V64.9501L623.56 64.9101C630.55 63.2001 631.92 61.7701 631.92 54.1101V14.9701C631.92 7.51006 630.66 6.08006 624.26 4.05006L624.12 4.03006V0.810059H654.6V4.06006H654.46C648.06 6.09006 646.9 7.51006 646.9 14.9701V54.1101ZM487.9 57.9899L483.77 12.7599C483.51 9.57988 483.46 8.66988 483.46 8.46988C483.46 6.24988 484.29 4.18988 490.35 4.07988H490.9V0.889881H468.93L468.79 1.23988L453.39 40.3599L438.21 1.23988L438.07 0.879883H415.12V3.99988L415.6 4.06988C421.85 4.93988 422.66 7.20988 422.66 9.08988C422.66 9.35988 422.55 10.1999 422.39 11.3699L421.93 14.9199L416.05 54.7699C415.15 60.7699 413.4 62.7599 407.12 64.9599L406.74 65.0899V68.2199H434.2V65.0399L433.77 64.9399C426.74 63.2599 425.32 61.4299 425.32 54.0299C425.32 52.3099 425.42 50.4499 425.63 48.4999C425.63 48.4999 427.91 27.0999 428.68 19.8699L447.37 69.5999L447.87 70.9299L448.41 69.6199L469.23 19.3499L472.749 57.3469C472.743 57.575 472.77 57.7791 472.798 57.9909L472.8 58.0099C472.806 58.0602 472.812 58.1106 472.818 58.1606C472.834 58.2992 472.85 58.4349 472.85 58.5599C472.85 63.3299 471.96 64.3399 467.25 64.9199L466.76 64.9799V68.2099H493.89V65.0199L493.44 64.9299C489.17 64.0599 488.4 63.0799 487.9 57.9899ZM519.84 40.0299L528.23 16.6399L536.62 40.0299H519.84ZM569.03 68.2099V65.0299L568.59 64.9299C563.89 63.9099 561.41 62.0999 560.33 58.8999L538.64 1.24989L538.51 0.889893H526.41L526.27 1.24989L505.82 53.9199C502.62 61.9799 502.06 62.6999 497.32 64.9699L497 65.1199V68.2099H521.77V65.0699L521.39 64.9399L520.48 64.6499C519.99 64.4999 519.57 64.3599 519.25 64.2399L519.22 64.2199H519.19C515.04 63.0399 514.33 61.8399 514.33 59.5799C514.33 58.4099 514.56 57.1099 515.02 55.7499C515.02 55.7499 517.32 48.5899 517.89 46.8299H539.18L542.56 56.4699C542.94 57.4299 543.15 58.4899 543.15 59.4799C543.15 62.0999 542.07 64.0199 536.8 64.9199L536.34 64.9999V68.2099H569.02H569.03ZM613.27 0.900101V15.8601V16.4201H610.33L610.2 16.0401C607.58 8.4701 600.16 5.5401 593.92 5.5501C588.07 5.5501 583.32 9.1401 583.32 13.5601C583.32 15.7101 584.46 17.9501 586.51 19.8701C588.06 21.3201 592.35 23.8001 596.9 26.4301L597.092 26.541L597.093 26.5418C602.193 29.4969 607.438 32.5362 609.66 34.6101C615 39.5901 617.28 44.0901 617.28 49.6501C617.28 54.6301 615.63 58.8001 612.37 62.0601C607.67 66.7701 600.63 67.9601 595.38 68.0601L572.2 68.1001V50.6801L572.19 50.1101H575.19L575.28 50.5501C577.15 59.4401 583.1 63.9401 593 63.9401C599.95 63.9401 605 60.3901 605 55.5001C605 53.1401 603.76 50.5801 601.68 48.6401C599.17 46.3101 595.09 44.0201 590.79 41.6101L590.678 41.5474C586.263 39.0769 581.706 36.5269 578.78 33.7901C574.7 30.0001 572.55 25.2101 572.55 19.9401C572.55 14.6701 574.35 10.4501 577.75 7.0501C581.62 3.1801 587.3 0.990097 593.81 0.850098H594.61L613.27 0.8801V0.900101Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__menu {
            display: flex;
            justify-content: start !important;
            gap: .5rem;

            .site-nav__toggle__input__item,
            .site-nav__toggle__label__item {
                background-color: #fff;
                margin: 4px 0;
                width: 20px;
                height: 2px;
            }

            .site-nav__toggle__label__item:first-child {
                transform: rotate(45deg) translate(7px, 7px);
            }

            .site-nav__menu {
                background-color: var(--color-brand-dark);
            }
        }

        @media screen and (min-width: 1024px) {
            .nav__menu {
                display: none !important;
            }
        }

        &__account {
            display: flex;
            gap: .5rem;

            .change_market {
                margin-right: 10px;
                display: none !important;

                @media screen and (min-width: 640px) {
                    display: block !important;
                }

                &--title {
                    display: none;
                }

                .nav__menu__link[role=change-market] {
                    display: inline;
                    padding: 3px 2px 3px 10px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    line-height: 1em;
                    color: currentColor;

                    &::before {
                        content: '';
                        height: 1.2em;
                        width: 1.2em;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8'/%3E%3Cpath d='M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18'/%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        display: inline-block;
                        margin-right: .75em;
                    }
                }
            }
        }
    }

    .cust_menu_container {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
        }

        & > .site-nav {
            &__menu__item {
                margin: 0;
                padding-right: .75rem;
                padding-left: .75rem;

                & > .site-nav__menu__link {
                    min-width: 50px;
                    display: block;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--navbar-submenu);
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    right: 0;
                    pointer-events: none;
                    transition: opacity .3s ease;
                }

                & > ul {
                    position: absolute;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    right: 0;
                    pointer-events: none;
                    transition: opacity .3s ease;
                    padding: 1.5rem;
                    max-width: 1540px;
                    margin: 0 auto;
                    display: flex;
                    gap: 3rem;
                    z-index: 1;
                }

                &:hover {
                    &::after,
                    & > ul {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
        }
    }
}

.category-menu {
    display: none !important;
}

/* -----------------------------------------------------------------------------
 * FOOTER
 ----------------------------------------------------------------------------- */
body .footer {
    color: var(--color-white);
    background-color: var(--color-brand-dark);
    font-family: "expressway", sans-serif;
    padding-top: 3rem;
    padding-bottom: 3rem;

    a {
        color: var(--color-white);
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0 auto;
        max-width: 1540px;

        @media screen and (min-width: 1024px) {
            gap: 2rem;
            text-align: left;
        }

        .footer__logo {
            display: flex;
            justify-content: center;
            background-image: none;

            img {
                height: auto;
                width: 100%;
                max-width: 12rem;
                filter: invert(.5);
                visibility: visible;
            }

            @media screen and (min-width: 1024px) {
                width: 20%;
                align-self: center;
                justify-content: center;
            }
        }

        .footer__blocks {
            gap: 3rem;
            margin-top: 0;
            margin-bottom: 0;

            &__item {
                font-size: .75rem;
                text-align: center;

                @media screen and (min-width: 1024px) {
                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }

                &__title {
                    color: var(--color-white);
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    min-height: 1.2em;
                }

                &__content {
                    line-height: 1.25rem;

                    & > * {
                        margin-top: 10px;

                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }

                &__link {
                    margin-top: 10px;

                    &:first-child {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
