
/* -----------------------------------------------------------------------------
 * NAVBAR
 ----------------------------------------------------------------------------- */
 header {
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @media screen and (min-width: 1024px) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .nav {
        &__menu {
            justify-content: start !important;
        }

        &__logo {
            img {
                height: 80px;
                width: auto;
                object-fit: contain;
            }
        }

        &__account {
            .change_market {
                margin-right: 10px;

                &--title {
                    display: none;
                }

                .nav__menu__link[role=change-market] {
                    display: inline;
                    padding: 3px 2px 3px 10px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: .05em;
                    line-height: 1em;

                    &::before {
                        content: '';
                        height: 1.2em;
                        width: 1.2em;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8'/%3E%3Cpath d='M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18'/%3E%3C/g%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        display: inline-block;
                        margin-right: .75em;
                    }
                }
            }
        }
    }
}

.category-menu {
    display: none;
}

/* -----------------------------------------------------------------------------
 * FOOTER
 ----------------------------------------------------------------------------- */
.footer {
    color: var(--color-white);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--color-black);

    a {
        color: var(--color-white);
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        max-width: 1350px;

        @media screen and (min-width: 1024px) {
            gap: 4rem;
        }

        .footer__logo {
            display: flex;
            justify-content: center;

            img {
                height: auto;
                width: 100%;
                max-width: 12rem;
                filter: invert(.5);
            }

            @media screen and (min-width: 1024px) {
                width: 20%;
                align-self: center;
                justify-content: center;
            }
        }

        .footer__blocks {
            gap: 3rem;
            margin-top: 0;
            margin-bottom: 0;

            &__item {
                font-size: .75rem;

                &__title {
                    color: var(--color-white);
                    font-weight: 600;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    min-height: 1.2em;
                }

                &__content {
                    line-height: 1.25rem;

                    & > * {
                        margin-top: 10px;

                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }

                &__link {
                    margin-top: 10px;

                    &:first-child {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
