.trustpilot-widget {
    background-color: #fff;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: .25em;
    //     left: .25em;
    //     right: .25em;
    //     bottom: .25em;
    //     border: 1px solid var(--color-brand-dark);
    // }

    &:not(.trustpilot-widget-fixed) {
        padding: .5rem 1em;
        position: relative;
        border-top: 1px solid var(--color-brand-dark);
    }

    &.trustpilot-widget-fixed {
        position: fixed !important;
        top: 67.5%;
        left: 0%;
        transform: translateY(0%) rotate(-90deg);
        transform-origin: left top;
        z-index: 9999;
        padding: 0 !important;
        background-color: transparent !important;
    }
}

@media (max-width: 767px) {
    .trustpilot-widget-fixed {
        display: none !important;
    }
}
