.trustpilot-widget {
    padding: .5rem 1em;
    position: relative;
    border-top: 1px solid var(--color-brand-dark);
    background-color: #fff;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: .25em;
    //     left: .25em;
    //     right: .25em;
    //     bottom: .25em;
    //     border: 1px solid var(--color-brand-dark);
    // }
}
