/* -----------------------------------------------------------------------------
 * SINGOLO PRODOTTO
 ----------------------------------------------------------------------------- */
.product-hero {
    @media screen and (min-width: 1024px) {
        .product-hero {
            &__image {
                flex: 0 0 50%;
            }

            &__content {
                flex: 0 0 50%;
                max-width: 36rem;
                margin: 10px auto;
            }
        }
    }

    &__image {
        &__thumbs {
            // GALLERY
            .swiper-slide {
                margin: 0;
            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: .25rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 1.75rem;
    }

    &__description {
        h2, h3, h4, h5 {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 0.5rem;

            &:first-child {
                margin-top: 0;
            }
        }

        h3 {
            font-family: 'Vujahday Script', cursive;
            font-size: 2rem;
            color: var(--color-primary);
        }

        h4, h5 {
            font-weight: 600;
            color: var(--color-black);
        }

        h4 {
            font-size: 2rem;
        }

        h5 {
            font-size: 1.5em;
        }

        h6 {
            margin-top: 2rem;
            text-align: center;
            font-style: italic;
            font-weight: 100;
            font-size: 0.75rem;
        }

        p {
            text-align: justify;

            & + p {
                margin-top: .5rem;
            }
        }

        a {
            font-weight: 500;
            text-decoration: underline;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__wrap {
            order: 1000;
            border-top: 1px solid var(--color-primary);
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media screen and (min-width: 1024px) {
                flex-direction: row;
            }
        }
    }

    &__price {
        font-size: 1.5rem;

        span {
            padding: 0 !important;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
        }
    }

    &__component {
        flex: 1 1 0%;
        margin-top: 0;
    }

    &__action__wrap {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            align-items: end;
        }
    }

    &__availability__wrap {
        span.product-hero__availability {
            font-weight: 100;
            font-style: italic;
            font-size: .75rem;
        }

        margin-top: .5rem;
        order: 500;
    }

    &__quantity-selector {
        margin-right: 0;
        background-color: transparent;
        font-weight: 700;

        button {
            border-radius: 3rem !important;

            @media screen and (max-width: 1023px) {
                width: 46px;
            }
        }
    }

    &__action {
        order: 1000;
    }

    &__quantity {
        text-align: right;
        font-weight: 300;
        font-style: italic;
        font-size: .85rem;
    }

    @media screen and (min-width: 1024px) {
        .product-hero__info-list {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }

    &__info {
        &-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            margin-top: 1rem;
        }

        &-item {
            .product-info {
                flex-direction: column;
                margin: 0 !important;

                &__icon {
                    width: 100%;
                    height: auto;

                    img {
                        @media screen and (max-width: 1023px) {
                            max-height: none;
                        }
                    }
                }
            }
        }
    }
}

.text-content.undefined {
    display: none;
}

.related-product {
    margin-top: 1rem;

    &__title {
        margin: 0;
        padding: 2rem 1.5rem;
        background-color: var(--color-gray-500);
        color: var(--color-white);
        font-size: 1.5rem;
        letter-spacing: .05rem;
        text-transform: uppercase;
    }
}
