/* -----------------------------------------------------------------------------
 * SINGOLO PRODOTTO
 ----------------------------------------------------------------------------- */
.product-hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__image {
        &__thumbs {
            display: none;
        }
    }

    &__content {
        order: -1;
        display: flex;
        flex-direction: column;

        .product-hero__description,
        .product-hero__info-list {
            display: none;
        }

        &__wrap {
            order: 1000;
            border-top: 1px solid var(--color-primary);
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media screen and (min-width: 1024px) {
                flex-direction: row;
            }
        }
    }

    &__price {
        font-size: 1.5rem;

        span {
            padding: 0 !important;
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem;
        }
    }

    &__component {
        flex: 1 1 0%;
        margin-top: 0;
    }

    &__action__wrap {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            align-items: end;
        }
    }

    &__availability__wrap {
        span.product-hero__availability {
            font-weight: 100;
            font-style: italic;
            font-size: .75rem;
        }

        margin-top: .5rem;
        order: 500;
    }

    &__quantity-selector {
        margin-right: 0;
        background-color: transparent;
        font-weight: 700;

        button {
            border-radius: 3rem !important;

            @media screen and (max-width: 1023px) {
                width: 46px;
            }
        }
    }

    &__action {
        order: 1000;
    }

    &__quantity {
        text-align: right;
        font-weight: 300;
        font-style: italic;
        font-size: .85rem;
    }

    @media screen and (min-width: 1024px) {
        .product-hero__info-list {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }

    &__info-overflay {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        left: 1rem;
        max-height: calc(100vh - 2rem);
        max-width: 30rem;
        margin-left: auto;
        padding: 2rem;
        overflow: scroll;
        z-index: 9999;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0,0,0,.18);
        border-radius: .5rem;
        border: 1px solid #c7c8c9;
        transform: translateX(1rem);
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-in-out;

        &-button {
            order: 9999999;
            margin-top: 1rem;
            border: 0;
            background-color: transparent;
            text-align: left;
            padding: .75rem;
            font-weight: 600;
            transition: opacity .3s ease;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }

            &:focus {
                outline: none;
            }
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
            pointer-events: none;
        }

        .product-hero {
            &__title {
                font-size: .75rem;
            }

            &__content__wrap {
                display: none;
            }

            &__info {
                &-list {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 2rem;
                    margin-top: 1rem;
                }

                &-item {
                    .product-info {
                        flex-direction: column;
                        margin: 0 !important;

                        &__icon {
                            width: 2rem;
                            height: auto;

                            img {
                                @media screen and (max-width: 1023px) {
                                    max-height: none;
                                }
                            }
                        }

                        &__title {
                            font-size: .75rem;
                            margin-top: 1.5rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

    }
}

.product-detail {
    display: none;
}

.text-content.undefined {
    display: none;
}

.related-product {
    margin-top: 1rem;

    &__title {
        margin: 0;
        padding: 2rem 1.5rem;
        background-color: var(--color-gray-500);
        color: var(--color-black);
        font-size: 1.5rem;
        letter-spacing: .05rem;
        text-transform: uppercase;
    }

    .product-list {
        padding: 2rem 0 6rem;
        display: grid;
        row-gap: 3rem;
        column-gap: 2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        &__item {
            padding: 0;

            .product-box {
                display: flex;
                flex-direction: column;

                &__header {
                    flex: 1 1 0%;
                    padding: 0;
                }

                &__image img {
                    padding: 0;
                    max-width: 100%;
                    object-fit: cover;
                    aspect-ratio: 2/3;
                }

                &__title {
                    font-size: 1rem;
                    margin-top: 0.75rem;
                    max-height: none;
                    text-align: left;
                    padding-top: 1rem;
                    justify-content: start;
                }

                &__body {
                    margin-top: 0.75rem;
                    justify-content: start;

                }

                &__price span {
                    padding: 0 !important;
                    font-size: 1rem;
                    font-weight: 700;
                }

                &__action {
                    margin: 1rem 0 0;
                    display: flex;

                    .button--primary {
                        color: var(--color-black);
                        border: none;
                        height: auto;
                        padding: 0.5rem 0;
                        min-width: auto;
                        text-align: left;
                        font-weight: 700;
                        background: transparent;
                        text-transform: uppercase;

                        &::before {
                            content: '>';
                            font-size: 1rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
