@import url("https://use.typekit.net/dly8jpu.css");

/* -----------------------------------------------------------------------------
 * VARS
 ----------------------------------------------------------------------------- */
.font-serif {
    font-family: "baskerville-urw", sans-serif !important;
}

.title {
    @extend .font-serif;
    font-weight: 100;
}

@import "parts";
@import "commerce";
@import "categorie";
@import "pages";
@import "prodotto";
@import "components";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "expressway", sans-serif;
}

body,
main,
header,
.card,
.product-box {
    background-color: #FBF9F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "expressway", sans-serif !important;
}

@import "plugin";
