@import url("https://use.typekit.net/dly8jpu.css");

:root {
    --color-brand-dark: #2A2618;
    --navbar-submenu: rgba(42, 38, 24, .95);
}

/* -----------------------------------------------------------------------------
 * VARS
 ----------------------------------------------------------------------------- */
.font-serif {
    font-family: "baskerville-urw", sans-serif !important;
}

.title {
    @extend .font-serif;
    font-weight: 100 !important;
}

.btn {
    color: var(--color-black);
    border: none;
    height: auto;
    padding: 0.75rem 0 !important;
    min-width: auto;
    text-align: left;
    font-weight: 700;
    background: transparent;
    text-transform: uppercase;
    transition: opacity .3s ease;
    margin-bottom: 0;
    font-family: inherit;

    &:hover {
        opacity: .5;
        border-radius: 0;
        color: var(--color-black);
        background-color: transparent;
    }

    &:focus {
        outline: none;
    }

    &::before {
        content: '>';
        font-size: 1rem;
        margin-right: 0.5rem;
    }
}

.button--primary,
.button--submit
.checkout-page .button--submit {
    @extend .btn;
}

.button--secondary {
    @extend .btn;
    opacity: .5;
}

.button--primary-link {
    background-color: var(--color-brand-dark);
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase
}

.market-dialog__frame .market-dialog__body .button--primary,
.market-dialog__frame .market-dialog__body .feedback-dialog__buttons__cart,
.wrapper_account .button--primary,
.wrapper_account .feedback-dialog__buttons__cart,
.checkout-page .button--submit {
    background: transparent !important;
    color: var(--color-black);
    border: 0;

    &:hover {
        color: var(--color-black) !important;
    }
}

@import "parts";
@import "commerce";
@import "categorie";
@import "pages";
@import "prodotto";
@import "components";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "expressway", sans-serif;
}

.is-black-friday {
    background-color: #010101;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }

    .wrap,
    main,
    .product-box {
        background-color: transparent;

        .product-box__action {
            .button--primary {
                color: white;
            }
        }
    }

    .text-content {
        background-color: #010101;

        .text-content__title {
            color: #fff;
        }
    }
}

.market-dialog {
    color: black;
}

body.home-page {
    main {
        .wrap {
            .text_block:nth-child(7) {
                font-style: italic;
            }
        }
    }
}

body,
main,
.card,
.product-box,
.cart-page,
.checkout-page {
    background-color: #FBF9F5;
}

main.wrap { // prodotto
    max-width: 1604px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "expressway", sans-serif !important;
}

/**
 * SPECIAL BANNER
 */
.em-special-banner {
    text-align: center;
    margin: 40px auto;
    max-width: 50rem;
    font-size: 1.5rem;
    font-family: baskerville-urw,sans-serif!important;

    @media screen and (min-width: 1024px) {
        font-size: 2.3rem;
    }

    .blink {
        animation: blinker 3s linear infinite;
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@import "plugin";
@import "form";
